.container{
    background-color: black;
    width: 740px;
}
.nav{
    padding: 1px;
    background-color: #708090;
}
.nav-link{
    padding: 0.8rem;
    text-decoration: none;
    color: #fff;
    font-family: Bold;
}
article{
    padding: 0.8rem;
    background-color: #000;
    color: #fff;
}
footer p{
    text-align: center;
    color: #fff;
}
